<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/post">
        <input type="text" placeholder="Enter username" name="username">
        <br><br><br>
        <textarea name="content" id="" placeholder="Write you post"></textarea>
        <br><br>
        <button>Submit post</button>
    </form>
</body>
</html>